@media only screen and (orientation:portrait) {
    .main {
        flex-direction: column;
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .main .top-conteudo {
        flex-direction: column;
    }
    .main .top-conteudo .top-conteudo-h1 {
        margin: 10px;
        font-size: 150%;
        text-align: center;
        text-wrap: balance;
    }
    .main .top-conteudo .top-conteudo-p {
        margin: 10px;
        font-size: 100%;
        border-left: 2px solid #f6a716;
        border-right: 2px solid #f6a716;
        text-align: center;
        text-wrap: balance;
    }
    .main .top-conteudo .top-conteudo-img {
        border-radius: 0;
    }

    .main .mid-conteudo {
        flex-direction: row;
    }
    .main .mid-conteudo .mid-conteudo-h2 {
        margin: 10px;
        font-size: 150%;
        text-align: center;
        text-wrap: balance;
    }
    .main .mid-conteudo .mid-conteudo-p {
        margin: 10px;
        font-size: 70%;
        text-align: left;
        border-left: 2px solid #f6a716;
        border-right: 2px solid #f6a716;
        text-align: center;
        text-wrap: balance;
    }
    .main .mid-conteudo .mid-conteudo-txt {
        flex: 50%;
    }

    .main .mid-conteudo .mid-conteudo-img {
        margin-top: 10px;
        flex: 50%;
    }
    .main .bot-conteudo {
        flex-direction: column;
        background-color: transparent;
    }
    .main .bot-conteudo .bot-conteudo-pic {
        padding: 0;
        margin: 0;
    }

    .main .bot-conteudo .bot-conteudo-txt {
        margin: 0;
        padding: 0;
        background-color: #fee2b8;
    }
    .main .bot-conteudo .bot-conteudo-h3 {
        margin: 10px;
        font-size: 150%;
        text-align: center;
        text-wrap: balance;
    }
    .main .bot-conteudo .bot-conteudo-p {
        margin: 10px;
        font-size: 100%;
        border-left: 2px solid #f6a716;
        border-right: 2px solid #f6a716;
        text-wrap: balance;
        text-align: center;
    }

    .main .bot-conteudo .bot-conteudo-img {
        border-top-left-radius: 0;
        border-top-left-radius: 0;
    }
}
@media only screen and (orientation:landscape) and (max-width:1440px) {
    .main {
        flex-direction: column;
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
    }
    .main .top-conteudo {
        flex-direction: column;
    }
    .main .top-conteudo .top-conteudo-h1 {
        margin: 10px;
        font-size: 300%;
        text-align: center;
        text-wrap: balance;
    }
    .main .top-conteudo .top-conteudo-p {
        margin: 10px;
        font-size: 250%;
        border-left: 2px solid #f6a716;
        border-right: 2px solid #f6a716;
        text-align: center;
        text-wrap: balance;
    }
    .main .top-conteudo .top-conteudo-img {
        border-radius: 0;
    }
    .main .mid-conteudo {
        flex-direction: row;
    }
    .main .mid-conteudo .mid-conteudo-h2 {
        margin: 10px;
        font-size: 300%;
        text-align: center;
        text-wrap: balance;
    }
    .main .mid-conteudo .mid-conteudo-p {
        margin: 10px;
        font-size: 250%;
        text-align: left;
        border-left: 2px solid #f6a716;
        border-right: 2px solid #f6a716;
        text-align: center;
        text-wrap: balance;
    }
    .main .mid-conteudo .mid-conteudo-txt {
        flex: 50%;
    }
    .main .mid-conteudo .mid-conteudo-img {
        margin-top: 10px;
        flex: 50%;
    }
    .main .bot-conteudo {
        flex-direction: column;
        background-color: transparent;
    }
    .main .bot-conteudo .bot-conteudo-pic {
        padding: 0;
        margin: 0;
    }
    .main .bot-conteudo .bot-conteudo-txt {
        margin: 0;
        padding: 0;
        background-color: #fee2b8;
    }
    .main .bot-conteudo .bot-conteudo-h3 {
        margin: 10px;
        font-size: 300%;
        text-align: center;
        text-wrap: balance;
    }
    .main .bot-conteudo .bot-conteudo-p {
        margin: 10px;
        font-size: 250%;
        border-left: 2px solid #f6a716;
        border-right: 2px solid #f6a716;
        text-wrap: balance;
        text-align: center;
    }
    .main .bot-conteudo .bot-conteudo-img {
        border-top-left-radius: 0;
        border-top-left-radius: 0;
    }
}
@media only screen and (orientation:landscape) and (min-width:2560px) {
    .main .top-conteudo .top-conteudo-h1 {
        font-size: 600%;
    }
    .main .top-conteudo .top-conteudo-p {
        font-size: 300%;
    }
    .main .mid-conteudo .mid-conteudo-h1 {
        font-size: 600%;
    }
    .main .mid-conteudo .mid-conteudo-p {
        font-size: 300%;
    }
    .main .bot-conteudo .bot-conteudo-h1 {
        font-size: 600%;
    }
    .main .bot-conteudo .bot-conteudo-p {
        font-size: 300%;
    }
}
