@media only screen and (orientation:portrait) {
    .main {
        height: 94vh;
    }

    .main .login-area {
        padding: 5vh;
        width: 90%;
    }
}
@media only screen and (orientation:landscape) and (max-width:1440px) {
    .main {
        height: 94vh;
    }
}
@media only screen and (orientation:landscape) and (min-width:2560px) {
    .main {
        height: 94vh;
    }

    .main .login-area {
        padding: 10vh 20vh;
    }

    .main .login-area .login-area-txt-h1 {
       font-size: 300%;
       bottom: 5vh;
    }
    
    .main .login-area .login-area-email .login-area-email-input {
        padding: 1vh 5vh;
        margin-bottom: 1vh;
        border-radius: 1vh;
        font-size: 100%;
    }
    .main .login-area .login-area-password .login-area-password-input {
        padding: 1vh 5vh;
        border-radius: 1vh;
        font-size: 100%;
    }
    .main .login-area .login-area-txt-p {
        position: relative;
        top: 5vh;
        font-size: 120%;
        text-align: center;
    }
    
}