.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54em;
    background: linear-gradient(#fee2b8, white, #fee2b8);
}

.main .login-area {
    background: linear-gradient(#fee2b8, white, #fee2b8) ;
    padding: 3em 5em;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 0 5px;
}

.main .login-area .login-area-txt-h1 {
    position: relative;
    bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

.main .login-area .login-area-email .login-area-email-input {
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}
.main .login-area .login-area-password .login-area-password-input {
    padding: 0.5em 1em;
    border-radius: 0.5em;
}
.main .login-area .login-area-txt-p {
    position: relative;
    top: 1em;
    text-align: center;
}


